{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>{% block title %} Login {% endblock %}</h1>

  <form class="user-form" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="username..." value="{{ request.form['username'] }}"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="password..." value="{{ request.form['password'] }}"><br><br>
    <input type="submit" value="Submit">
  </form>
  <p>Not a user? register <a href = "{{ url_for('register') }}">here</a>!</p>
</div>
{% endblock %}
